body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  font-style: italic;
}

p {
  font-size: 17px;
}

.container {
  max-width: 700px;
  background-color: #1b4f8f;
  color: white;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.refrain {
  font-weight: bold;
}
